#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  width: 100px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.25s;
}

input:focus {
  border-color: blueviolet; /* Change this to your desired focus color */
  outline: none; /* Remove the default outline */
}

button {
  background-color: blueviolet;
}

.container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.column h3 {
  color: #c69bf2;
}

.ChallengeEight {
  margin-top: 3rem;
}
